@import url('https://fonts.googleapis.com/css2?family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@mixin montserrat($size, $color, $weight) { //MONTSERRAT
  font-family: "montserrat", sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin jost($size, $color, $weight) { //JOST
  font-family: "jost", sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin forum($size, $color, $weight) { //FORUM
  font-family: "forum", sans-serif;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

$bg-color: #050402;
$text-color: #FAF6F2;
$grey: #D0D0D0;
$orange: #BB8C5F;
$dark-orange: #524336;
$dark: #3E424B;
$bg-card: #F5F5F5;
$grey-2: #636B78;
$bg-card2: #EEEEEE;
$white: #FAF6F2;



.info {
    display: flex;
}

footer {
    @include montserrat(20px, $text-color, 500);
    height: 400px;


    .footer-blocks {
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        margin-left: 80px;

        li:not(:last-child) {
            margin-bottom: 40px;
            
        }

        li {
            transition: all 0.3s ease-in;

            &:hover {
                cursor: pointer;
                color: $orange;
            }
        }
    }
}

.footer_logo {
    &:hover {
        cursor: pointer;
    }
}



.privaty {
    margin-top: 50px;
    @include montserrat(14px, $text-color, 500);

    &:hover {
        cursor: pointer;
        color: $orange;
    }
}

.vert_line {
    height: 400px;
    background-color: $dark-orange;
    width: 1px;
}

.footer-line_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-tel {
    margin-top: 0;
    margin-right: 25px;
}

.work {
    @include jost(17px, $grey-2, 400);
    margin-bottom: 30px;
}