@import url("https://fonts.googleapis.com/css2?family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.nav_up {
  display: flex;
  margin-top: 14px; }

.contacts {
  margin-right: 60px; }

.tel {
  margin-top: 24px; }
  .tel .tel_number {
    font-family: "jost", sans-serif;
    color: #FAF6F2;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s ease-in; }
    .tel .tel_number:before {
      content: url("/img/navigation/handset.svg");
      margin-right: 17px;
      vertical-align: middle; }
    .tel .tel_number:hover {
      cursor: pointer;
      color: #BB8C5F; }

.viber, .whats_app, .telegram {
  font-family: "jost", sans-serif;
  color: #D0D0D0;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.3s ease-in; }
  .viber:hover, .whats_app:hover, .telegram:hover {
    color: #BB8C5F; }

.viber, .whats_app {
  margin-right: 7px; }

.mail_name {
  font-family: "jost", sans-serif;
  color: #FAF6F2;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.3s ease-in; }
  .mail_name:hover {
    color: #BB8C5F; }

.mail {
  margin-top: 25px;
  margin-right: 140px;
  transition: all 0.3s ease-in; }
  .mail:before {
    content: url("/img/navigation/envelop.svg");
    margin-right: 9px;
    vertical-align: middle; }
  .mail:hover {
    color: #BB8C5F; }

.basket {
  margin-top: 28px;
  margin-left: 262px;
  display: flex;
  font-family: "jost", sans-serif;
  color: #FAF6F2;
  font-size: 15px;
  font-weight: 400;
  vertical-align: middle; }
  .basket .basket_icon {
    position: relative;
    margin-top: -4px;
    margin-left: 10px;
    width: 19px;
    height: 20px; }
  .basket:hover {
    cursor: pointer; }

.logo:hover {
  cursor: pointer; }

.liked {
  margin-top: 25px;
  height: 18px;
  width: 19px;
  margin-left: 58px; }
  .liked:hover {
    cursor: pointer; }

.personal {
  margin-top: 12px;
  height: 18px;
  width: 19px;
  margin-left: 28px;
  border: none;
  background-color: transparent; }
  .personal:hover {
    cursor: pointer; }

.line {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #BB8C5F; }

.nav_down {
  display: flex;
  font-family: "jost", sans-serif;
  color: #FAF6F2;
  font-size: 25px;
  font-weight: 400; }

.catalog_text {
  margin-top: 24px;
  margin-right: 11px; }

.burger {
  margin-top: 31.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 14px; }

.burger__line {
  width: 100%;
  height: 2px;
  background-color: #BB8C5F; }

.search {
  width: 418px;
  height: 44px;
  margin-left: 61px;
  margin-top: 14px;
  background-image: url("/img/navigation/Search.svg");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 22px 48%;
  padding: 0 20px 0 55px;
  border: 1px #524336 solid;
  font-family: "jost", sans-serif;
  color: #D0D0D0;
  font-size: 15px;
  font-weight: 400; }

.search:active {
  border: 1px #BB8C5F solid;
  font-family: "jost", sans-serif;
  color: #FAF6F2;
  font-size: 15px;
  font-weight: 400; }

.main_navigation {
  margin-left: 60px;
  margin-top: 21px; }
  .main_navigation ul {
    display: flex; }

.nav_el {
  margin-right: 60px; }
  .nav_el a {
    font-family: "jost", sans-serif;
    color: #FAF6F2;
    font-size: 17px;
    font-weight: 400;
    transition: all 0.3s ease-in; }
    .nav_el a:hover {
      color: #BB8C5F; }
  .nav_el:last-child {
    margin-right: 0; }

.header_categories, .header_brends {
  transition: all 0.3s ease-in; }
  .header_categories:hover, .header_brends:hover {
    color: #BB8C5F;
    cursor: pointer; }

.popup-burger {
  display: block;
  position: absolute;
  z-index: 0;
  top: -100px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0s; }
  .popup-burger .burger_content {
    font-family: "jost", sans-serif;
    color: #3E424B;
    font-size: 17px;
    font-weight: 400; }
  .popup-burger .header_categories.active {
    color: #BB8C5F; }
  .popup-burger .popup_header {
    display: flex;
    background-color: #F5F5F5;
    padding: 50px; }
    .popup-burger .popup_header h1 {
      margin-right: 30px; }

.burger-categories {
  visibility: hidden;
  opacity: 0; }

.burger-brends {
  visibility: hidden;
  opacity: 0; }

.popup-burger.active {
  visibility: visible;
  opacity: 1; }

.burger-categories.active {
  background-color: #F5F5F5;
  padding: 0px 50px;
  visibility: visible;
  opacity: 1;
  display: flex; }
  .burger-categories.active ul li {
    margin-bottom: 15px; }
  .burger-categories.active ul:first-child {
    margin-right: 30px; }

.burger-brends.active {
  width: 1120px;
  margin-top: -205px;
  background-color: #F5F5F5;
  padding: 0px 50px;
  visibility: visible;
  opacity: 1;
  display: flex; }
  .burger-brends.active ul li {
    margin-bottom: 15px; }
  .burger-brends.active ul {
    margin-right: 30px; }

.header_brends.active {
  color: #BB8C5F; }

.burger:hover {
  cursor: pointer; }

.info {
  display: flex; }

footer {
  font-family: "montserrat", sans-serif;
  color: #FAF6F2;
  font-size: 20px;
  font-weight: 500;
  height: 400px; }
  footer .footer-blocks {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer ul {
    margin-left: 80px; }
    footer ul li:not(:last-child) {
      margin-bottom: 40px; }
    footer ul li {
      transition: all 0.3s ease-in; }
      footer ul li:hover {
        cursor: pointer;
        color: #BB8C5F; }

.footer_logo:hover {
  cursor: pointer; }

.privaty {
  margin-top: 50px;
  font-family: "montserrat", sans-serif;
  color: #FAF6F2;
  font-size: 14px;
  font-weight: 500; }
  .privaty:hover {
    cursor: pointer;
    color: #BB8C5F; }

.vert_line {
  height: 400px;
  background-color: #524336;
  width: 1px; }

.footer-line_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }

.footer-tel {
  margin-top: 0;
  margin-right: 25px; }

.work {
  font-family: "jost", sans-serif;
  color: #636B78;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px; }

body {
  background-color: #050402; }

.new-bg {
  background-color: #E3E3E3;
  width: 100%; }

.container {
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  cursor: pointer; }

li {
  list-style: none; }

a {
  text-decoration: none; }
