.about_us_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;

    .img_about_us {

        left: 0;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}

.img_about_us-mobile {
    padding-top: 80px;
    margin-bottom: 60px;
    img {
        max-width: 280px;
    }
}

.about_us_text {
    button {
        margin-bottom: 60px;
    }
}

.about_us_header {
    @include forum(50px, $orange, 400)
}

.about_us_text {
    margin-left: 55px;
    p {
        margin-top: 20px;
        @include jost(17px, $dark, 400);
    }

    button {
        margin-top: 40px;     
        padding: 8px 42px;
        background-color: $bg-card2;
        border: 1px solid $orange;
        @include jost(20px, $orange, 400);
    }
}

@media (max-width: 1216px) {
    .about_us_flex {
        display: block;
    }

    .about_us_text {
        margin-top: 20px;
        margin-left: 0;
    }
}