.tab_text_main {
  @include jost(30px, $dark, 500);
  padding-top: 120px;

  .tab_text:not(:last-child) {
    margin-right: 60px;
  }

  .tab_text {
    transition: all 0.3s ease-in;

    &:hover {
      color: $orange;
    }
  }
}

.tab_text.active {
  color: $orange;
}

// CARD
.tab.active {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.tab {
  display: none;
}
.product-card {
  &:not(:last-child) {
    margin-right: 20px;
  }

  width: 289px;
  position: relative;

  &:hover {
    .put_bg {
        visibility:visible;
        opacity: 1;
    }
  }

} 

.card-img {
    width: 289px;
    background-color: $bg-card2;
}


.header_card {

  display: flex;
  left: 40px;
  top: 34px;
  position: absolute;
  @include jost(15px, $orange, 400);
  align-items: center;
}
.like_status {
  background-image: url('../../img/tabs/like-default.svg');
  width: 23px;
  height: 19px;
  background-repeat: no-repeat;
  margin-left: 138px;
}

.like_status.active {
  background-image: url('../../img/tabs/like-active.jpg');
}

.under_card {
    margin-top: -5px;
  background-color: #fff;
  padding-top: 22px;
  padding-left: 30px;
}

.product_name {
  @include jost(17px, $dark, 400);
}

.price {
  display: flex;
  margin-top: 10px;
  align-items: center;

  .now_price {
    @include jost(24px, $orange, 700)
  }

  .discount {
    margin-left: 10px;
    
    @include jost(17px, $grey-2, 300);
    text-decoration: line-through;
  }
}

.put_bg {
    width: 289px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    .put {
        cursor: pointer;
        margin-bottom: 30px;
      margin-top: 20px;
      margin-left: 15px;
      padding: 8px 42px;
      background-color: $bg-card2;
      border: 1px solid $orange;
      @include jost(20px, $orange, 400);
    
      &:hover {
        background-color: $bg-card;
      }
    }
}


.show_more {
    cursor: pointer;
      margin-left: 15px;
      padding: 8px 42px;
      background-color: $bg-card2;
      border: 1px solid $orange;
      @include jost(20px, $orange, 400);
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}